{% extends 'base.html' %}

{% block title %}book create{% endblock %}

{% block content %}
    <div class="book-create">
    <h3>Создание книги:</h3>
    <div class="row">
        <div class="col-sm-4">
            <div class="card book-create-card">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <strong>{{ field.label_tag }}</strong> {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    <a class="breadcrumb" href="/">На главную</a>
{% endblock %}